<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="directory-to-organize-path" value="\\BLADE-RUNNER\Users\Alana\Music\G-Spot Library\" />
    <add key="directory-organized-path" value="\\BLADE-RUNNER\Users\Alana\Music\NewFileStructure\" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
